body{
  margin: 0;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.imagen-2,.imagen-3{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.imagen{
  animation-delay: 0s;
  animation-duration:7s;
  animation-iteration-count: 3;
  animation-direction: normal;
  transform-origin: bottom center;
  animation-fill-mode: forwards;
}

.textoImagen-1{
  animation-name: textoimagen1;
  overflow: hidden;
}
.bolsaImagen-1{
  animation-name: bolsaimagen1;
  overflow: hidden;
}

.textoImagen-2{
  animation-name: textoimagen2;
  opacity: 0;
}

.textoImagen-3{
  animation-name: textoimagen3;
  opacity: 0;
}

.botonImagen-3{
  animation-name: zoomimagen3;
  opacity: 0;
}

.imagen-1{
  animation-name: imagen1;
}

.imagen-2{
  animation-name: imagen2;
}
.imagen-3{
  animation-name: imagen3;
}

@keyframes imagen1 {
  0%{
    visibility: visible;
  }
  28.3%{
    visibility: visible;
  }
  28.4%{
    visibility: hidden;
  }
  100%{
    visibility: hidden;
  }
}

@keyframes imagen2 {
  0%{
    visibility: hidden;
  }
  28.3%{
    visibility: hidden;
  }
  28.4%{
    visibility: visible;
  }
  70.9%{
    visibility: visible;
  }
  71%{
    visibility: hidden;
  }
  100%{
    visibility: hidden;
  }
}

@keyframes imagen3 {
  0%{
    visibility: hidden;
  }
  70.9%{
    visibility: hidden;
  }
  71%{
    visibility: visible;
  }
  100%{
    visibility: visible;
  }
}

@keyframes textoimagen1 {
  0%{
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
    visibility: visible;
  }
  5%{
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
    visibility: visible;
  }
  8%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  28.3%{
    transform: translateX(0%);
    visibility: visible;
  }
  100%{
    transform: translateX(0%);
    visibility: hidden;
  }
}

@keyframes bolsaimagen1 {
  0%{
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    visibility: visible;
  }
  5%{
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}
@keyframes textoimagen2 {
  0%{
    opacity: 0;
  }
  28.4%{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  33.4%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@keyframes textoimagen3 {
  0%{
    opacity: 0;
  }
  72%{
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  77%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes zoomimagen3 {
  0%{
    opacity: 0;
  }
  71%{
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  76%{
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  79%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}