body {
  margin: 0;
}

* {
  border: 1px solid red;
}

.imagenes-container {
  position: relative;
}

.imagen-2,
.imagen-3 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.imagen {
  animation-delay: 2s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform-origin: bottom center;
  animation-timing-function: linear;
}

.imagen-1 {
  animation-name: imagen1;
}

.imagen-2 {
  animation-name: imagen2;
}

.imagen-3 {
  animation-name: imagen3;
}

@keyframes imagen1 {
  0% {
    visibility: visible;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}

@keyframes imagen2 {
  0% {
    visibility: hidden;
  }

  25% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes imagen3 {
  0% {
    visibility: hidden;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: visible;
  }

  75% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}
